In [1]:
import pandas as pd
import numpy as np
paris_listings = pd.read_csv('..\data\paris_airbnb.csv')
paris_listings.iloc[0]

C:\Users\user\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                 1.0
latitude                       48.83349
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                            0.0
bathrooms                           1.0
beds                                0.0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

In [2]:
paris_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0

In [3]:
paris_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

In [5]:
np.random.permutation(11)

array([ 6,  5,  3,  0,  2,  1, 10,  4,  7,  8,  9])

In [6]:
# randomisation:
#   np.random.seed: enregistrer la valeur du random
#   .loc : utiliser pour mentrer le data entre crochet
#   np.random.permutation : créer un random de matrice aléatoire

np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]
paris_listings

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$65.00,$30.00,$200.00,2,1125,6
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,$98.00,NaN,NaN,5,1124,1
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$65.00,$30.00,"$1,000.00",10,1125,0
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,$45.00,$30.00,$200.00,5,1125,83
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$65.00,NaN,$200.00,5,365,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,NaN,NaN,1.0,48.84012,2.39003,Paris,75012,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$72.00,$0.00,$400.00,7,7,0
5192,NaN,NaN,1.0,48.87754,2.35318,Paris,75010,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$49.00,$50.00,NaN,30,1125,2
3980,NaN,NaN,1.0,48.84617,2.37121,Paris,75012,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$99.00,$20.00,$100.00,2,1125,2
235,65%,NaN,93.0,48.85522,2.36382,Paris,75004,Île-de-France,6,Entire home/apt,2.0,1.0,4.0,$230.00,$90.00,$900.00,2,25,98
5157,NaN,NaN,1.0,48.87768,2.32836,Paris,75009,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$100.00,$400.00,NaN,3,20,0

In [7]:
# supprimer les virgules et les signes $ de price
paris_listings['price']=paris_listings['price'].str.replace('$','')
paris_listings['price']=paris_listings['price'].str.replace(',' , '')
paris_listings['price']=paris_listings['price'].astype('float')
paris_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,65.0,$30.00,$200.00,2,1125,6
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,98.0,NaN,NaN,5,1124,1
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,65.0,$30.00,"$1,000.00",10,1125,0
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,45.0,$30.00,$200.00,5,1125,83
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,65.0,NaN,$200.00,5,365,5

In [8]:
def predict_price(new_listings):
    temp_df = paris_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(new_listings - x))
    temp_df= temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)
predict_price(1)

69.6

### difision du tableau en train (6000 lignes) et test

In [9]:
train_df = paris_listings[:6000]

In [10]:
test_df = paris_listings[6000:]

### nouvelle fonction de prédiction

In [11]:
def predict_price(new_listings):
    df_temps = train_df.copy()
    df_temps['distance'] = df_temps['accommodates'].apply(lambda x: np.abs(x - new_listings))
    df_temps = df_temps.sort_values('distance')
    predict_price = df_temps.iloc[0:5]['price'].mean()
    return predict_price

###  application de la fonction dans le data test

In [12]:
test_df["predicted_price"] = test_df["accommodates"].apply(lambda x:predict_price(x))

C:\Users\user\AppData\Local\Temp\ipykernel_17464\522591413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["predicted_price"] = test_df["accommodates"].apply(lambda x:predict_price(x))

In [13]:
test_df.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,90.4
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,176.8
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,96.2
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,173.0
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,90.4

## calcul de la métrique MAE

In [12]:
MAE=np.abs(test_df['price'] - test_df['predicted_price']).mean()
MAE

52.562200000000004

### calcul de MSE

In [13]:
MSE=((test_df['price'] - test_df['predicted_price'])**2).mean()
MSE

6724.726040000001

### entrainement d'un autre model

In [14]:
def predictionII(bedroom_number):
    df_temp = train_df.copy()
    df_temp['distance'] = df_temp['bedrooms'].apply(lambda x: np.abs(x - bedroom_number))
    df_temp = df_temp.sort_values('distance')
    predict_price = df_temp.iloc[0:5]['price'].mean()
    return predict_price

In [15]:
test_df['predicted_price'] = test_df['bedrooms'].apply(lambda x: predictionII(x))

C:\Users\user\AppData\Local\Temp\ipykernel_4000\2806687157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['predicted_price'] = test_df['bedrooms'].apply(lambda x: predictionII(x))

In [16]:
MAE_II=np.abs(test_df['price'] - test_df['predicted_price']).mean()
MAE_II

43.47410000000001

In [17]:
MSE_II=((test_df['price'] - test_df['predicted_price'])**2).mean()
MSE_II

6281.181979999999

## calcul de RMSE

In [18]:
RMSE = np.sqrt(MSE_II)
RMSE

79.25390829479642